{{> header active_home='active' page='' senai='header-senai' lab='header-lab'}}

<main class="main">
    <section id="home">
        <img class="image-home" src="/assets/images/senailab_ideia-acao.png" alt="Senailab Banner">
    </section>
</main>

{{> footer }}