{{> header active_project='active' page='pages' senai='header-senai-grey' lab='header-lab-grey'}}

<main>
    <section id="projects" class="content-page">
        <h2 class="title-page">Projetos</h2>
         
        <div class="projects-cards">

            {{#data}}
            <a href="/projects/{{project_id}}">
                <div class="project-card">
                    <img class="project-img" src="/uploads/{{project_image}}" alt="Imagem do Projeto">
                    <div class="project-info">
                        <h4 class="project-name">{{project_name}}</h4>
                        <div class="project-details">
                            <div>
                                <i class="fa fa-download"></i>
                                <span>0</span>
                            </div>
                            <div>
                                <i class="fa fa-eye"></i>
                                <span>0</span>
                            </div>
                            <div>
                                <i class="fa fa-comment"></i>
                                <span>0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {{/data}}

            <div class="new-project-card" onclick="iniciaModal('modal-programacao')">
                <div class="new-project-item">
                    <div class="new-project-send">
                        enviar projeto
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<div id="modal-programacao" class="modal-container">
	<div class="modal">
        <i class="fa fa-times-circle"></i>
        <h4 class="title-modal">Enviar projeto</h4>
        <form class="insertProject" name="insertProject" action="insertProject" method="POST" enctype="multipart/form-data">
            <input required type="text" name="project_name" id="project_name" placeholder="Nome" class="input-text">
            <input required type="text" name="project_author" id="project_author" placeholder="Autor" class="input-text">
            <input required type="text" name="project_license" id="project_license" placeholder="Licença" class="input-text">
            <input required type="text" name="project_description" id="project_description" placeholder="Descrição" class="input-text">
            <input required type="text" name="project_tag" id="project_tag" placeholder="Tag" class="input-text">
            <div class="fileUpload">
                <span>Enviar imagem <i class="fa fa-file-image"></i> </span>
               <input required type="file" name="file" id="project_image" class="upload">
            </div>
            <div class="fileUpload">
                <span>Enviar projeto <i class="fa fa-file-archive"></i> </span>
               <input required type="file" name="file" id="project_file"class="upload">
            </div>
            <input required type="submit" name="buttonSubmit" id="buttonSubmit" value="Enviar" class="send-button">
        </form>
	</div>
</div>

{{> footer }}