{{> header active_project='active' page='pages' senai='header-senai-grey' lab='header-lab-grey'}}

<main>
    <section id="project" class="content-page">
        <h2 class="title-page">Tangram</h2>
         
        <div class="content-project">
            <div class="left-content-project">
                <img src="/assets/images/tangram.jpg" alt="">
                <button>
                    download
                    <i class="fa fa-download"></i>
                </button>
            </div>

            <div class="right-content-project">
                <div class="project-informations">
                    <h4><span>Autor:</span></h4>
                    <h4><span>Licença:</span></h4>
                    <h4><span>Descrição:</span></h4>
                    <h4><span>Tag:</span></h4>
                </div>
                <div class="comments">
                    <div class="send-comment">
                        <input type="text" name="comment" id="comment" placeholder="Adicionar comentário">
                        <button>Enviar <i class="fa fa-paper-plane"></i></button>
                    </div>
                    <p class="coment"> <span>Anônimo:</span> </p>
                </div>
            </div>
        </div>
    </section>
</main>

{{> footer }}