{{> header active_team='active' page='pages' senai='header-senai-grey' lab='header-lab-grey'}}

<main>
    <section id="team" class="content-page">
        <h2 class="title-page">Equipe</h2>
         
        <div class="team-cards">

            <div class="member-card">
                <img class="member-img" src="/assets/images/tangram.jpg" alt="">
                <div class="member-info">
                    <h4 class="member-name">Fulano</h4>
                    <p class="member-function">
                        Lorem ipsum sit dolor
                    </p>
                </div>
            </div>

            <div class="member-card">
                <img class="member-img" src="/assets/images/tangram.jpg" alt="">
                <div class="member-info">
                    <h4 class="member-name">Fulano</h4>
                    <p class="member-function">
                        Lorem ipsum sit dolor
                    </p>
                </div>
            </div>

            <div class="member-card">
                <img class="member-img" src="/assets/images/tangram.jpg" alt="">
                <div class="member-info">
                    <h4 class="member-name">Fulano</h4>
                    <p class="member-function">
                        Lorem ipsum sit dolor
                    </p>
                </div>
            </div>

            <div class="member-card">
                <img class="member-img" src="/assets/images/tangram.jpg" alt="">
                <div class="member-info">
                    <h4 class="member-name">Fulano</h4>
                    <p class="member-function">
                        Lorem ipsum sit dolor
                    </p>
                </div>
            </div>
            
        </div>
    </section>
</main>

{{> footer }}