{{> header active_team='active' page='pages' senai='header-senai-grey' lab='header-lab-grey'}}

<main>
    <section id="team" class="content-page">
        <h2 class="title-page">Equipe</h2>
         
        <div class="team-cards">

            <a href="https://www.linkedin.com/in/diogo-rigo-de-brito-guimar%C3%A3es-96893529/?challengeId=AQE8MpwRKCacFgAAAW2ImG3aZgbABdxctXsZ9p8Ig23bkshs7b6DJoR7VBTKUmF3xlj0YRbQi83bQcCS3eIxxRgYpQ2InYkutA&submissionId=1c2892cd-8799-c915-27ca-e3e29c431455" target="_blank" rel="noopener noreferrer">
                <div class="member-card">
                    <img class="member-img" src="/assets/images/members/diogo-rigo.jpg" alt="Diogo Rigo">
                    <div class="member-info">
                        <h4 class="member-name">Diogo Rigo</h4>
                        <p class="member-function">
                            Professor responsável técnico.
                        </p>
                    </div>
                </div>
            </a>

            <a href="https://www.facebook.com/alisson.renner.33" target="_blank" rel="noopener noreferrer">
                <div class="member-card">
                    <img class="member-img" src="/assets/images/members/alisson-renner.jpg" alt="Alisson Renner">
                    <div class="member-info">
                        <h4 class="member-name">Alisson Renner</h4>
                        <p class="member-function">
                            Estagiário.
                        </p>
                    </div>
                </div>
            </a>

            <a href="https://www.facebook.com/gustavo.freirevieira" target="_blank" rel="noopener noreferrer">
                <div class="member-card">
                    <img class="member-img" src="/assets/images/members/gustavo-vieira.jpg" alt="Gustavo Vieira">
                    <div class="member-info">
                        <h4 class="member-name">Gustavo Vieira</h4>
                        <p class="member-function">
                            Estagiário.
                        </p>
                    </div>
                </div>
            </a>
            
        </div>
    </section>
</main>

{{> footer }}