/* ------------------- ALL STRUCTURE OF PAGE ------------------- */
*
{
	box-sizing: border-box;
	font-weight: lighter;
}

h4
{
	margin: 0;
}

/* ------------------- BODY OF PAGE -------------------*/
body
{
	margin: 1px;
	font-family: Arial;
	font-weight: lighter;
	height: 100%;
	border: solid 1px;
}

/* ------------------- HEADER OF PAGE -------------------*/
header
{
	text-align: center;
	border: solid 1px;
	margin: 20px;
	padding: 25px;
}

header h1
{
	margin: 0;
	font-size: 25px;
}

header p
{
	margin: 0;
}

/* ------------------- FOOTER OF PAGE -------------------*/
section
{
	margin: 20px;
	text-align: center;
	padding: 125px;
	border: solid 1px;
}

section p
{
	margin: 0;
}

/* ------------------- FOOTER OF PAGE -------------------*/
footer
{
	margin: 20px;
	text-align: center;
	padding: 25px;
	border: solid 1px;
}

footer p
{
	margin: 0px;
}